numpy
scikit-learn
pandas
pickle5
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
Werkzeug==0.15.6
dash==1.17.0
requests==2.24.0
plotly==4.12.0
chart-studio==1.1.0
dash
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-bootstrap-components>=0.10.1